{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block title %}
  Anonomat Aoidai
{% endblock %}

{% block navbar %}
  <div class="container-fluid">
    <div class="sidebar-nav">
      <ul class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="col-lg-2 col-md-4 visible-lg visible-md sidebar">
    <h2>Sidebar</h2>
    <hr>
    <ul class="nav">
      <li><a href="{{ url_for('index') }}">Home</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="col-lg-10">
      {% block app_content %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
