{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block app_content %}
<div class="my_content">
  HOME STUFF
  <ul class="nav">
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
    <li>THING</li>
  </ul>
</div>
{% endblock %}
