{% extends "base2.html" %}

{% block more_styles %}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.flex-child {
  margin: auto;
}

{% endblock %}

{% block content %}

<div class="flex-container">

{% for issue in issues %}
<div class="flex-child">

{% if loop.index > 100 %}
<hr />
{% endif %}

Issue #{{ issue.number }}
<br />
{{ issue.title }}
<br />

<a href="{{ url_for(
  'single_page', issue_number=issue.number, page_number=issue.lowest) }}">
  <img
    src="{{ url_for('static', filename=issue.cover) }}" width=200px
    opacity=1.0 />
</a>
</div>
{% endfor %}

</div>

{% endblock %}
