{% extends "base.html" %}

{% block additional_styles %}
<style>

.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 10em 10em 20em 10em;
    grid-row-gap: 5em;
}

.content-grid {
    grid-column-start: 2;
    grid-column-end: 3;
    word-wrap: break-all;
    word-break: break-all;
}

.nav-grid-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    text-align: center;
}

.nav-grid-right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    text-align: center;
}

p { white-space: pre-wrap; word-break: break-word; word-wrap: break-word; }
img { max-width: 100%; }

{% endblock %}

{% block content %}

<div id="title" style="text-align: center; margin-top: 10%; margin-bottom: -5%"><h1>{{ page_title }}</h1></div>

<div class="grid-container">
    <div class="content-grid">
        {% block main %}
        {% endblock %}
    </div>

    <div class="nav-grid-left" id="previous_page">
        {% if prev_page is not none %}
            <a href="{{ url_for('single_page', issue_number=issue_number, page_number=prev_page.page_number) }}">
               {{ prev_page.title }} 
            </a>
            <p style="text-align:center;">By {{ prev_page.author }}</p>
        {% else %}
            ~
        {% endif %}
    </div>
    <div class="nav-grid-right" id="next_page">
        {% if next_page is not none %}
            <a href="{{ url_for('single_page', issue_number=issue_number, page_number=next_page.page_number) }}">
               {{ next_page.title }} 
            </a>
            <p style="text-align:center;">By {{ next_page.author }}</p>
        {% else %}
            ~
        {% endif %}
    </div>
</div>

{% endblock %}
