{% extends "base.html" %}

{% block additional_styles %}
    <style>

    sup, sub {
        vertical-align: baseline;
        position: relative;
    }

    .grid-container {
        display: grid;
        grid-template-columns: minmax(15em, 20%) minmax(45em, 60%) minmax(15em, 20%);
        margin-top: 5em;
        margin-bottom: 10em;
        row-gap: 2em;
    }

    .grid-header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
    }

    .content-grid {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        word-wrap: break-all;
        word-break: break-all;
        font-size: large;
        border: 1px solid black;
        background-color: #f9f9f9;
        padding: 1em;
    }

    .nav-grid-left {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        text-align: center;
    }

    .nav-grid-center {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        text-align: center;
    }

    .nav-grid-right {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        text-align: center;
    }

    .toc {
        /* TODO: Use regex selector to inherit styles from sidenav? */
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #1a2c33;
        color: #eeeeee;
        transition: 0.3s;
        width: 20%;
        position: fixed;
        height: 100%;
        overflow-y: scroll;
    }

    .toc-item {
        color: #818181;
    }

    .toc-item a:hover {
        color: #f1f1f1;
    }

    .img-container {
        text-align: center;
    }

    p {
        white-space: pre-wrap;
        word-break: break-word;
        word-wrap: break-word;
    }

    img {
        max-width: 100%;
    }

{% endblock %}

{% block content %}

<div class="grid-container">
    <div id="title" class="grid-header"><h1>{{ page_title }}</h1></div>
    <div class="content-grid">
        {% block main %}
        {% endblock %}
    </div>

    {% if includenav %}
    <div class="nav-grid-left" id="previous-page">
        {% if prev_page is not none %}
            <a href="{{ url_for('single_page', issue_number=issue_number, page_number=prev_page.page_number) }}">
               {{ prev_page.title }}
            </a>
            {% if prev_page.type in ('single_poem', 'single_image') %}
                <p style="text-align:center;">By {{ prev_page.author }}</p>
            {% endif %}
        {% else %}
            ~
        {% endif %}
    </div>
    <div class="nav-grid-center" id="table-of-contents">
        <a href="{{ url_for('single_page', issue_number=issue_number, page_number='toc') }}">
            Table of Contents
        </a>
    </div>
    <div class="nav-grid-right" id="next-page">
        {% if next_page is not none %}
            <a href="{{ url_for('single_page', issue_number=issue_number, page_number=next_page.page_number) }}">
                    
               {{ next_page.title }}
            </a>
            {% if next_page.type in ('single_poem', 'single_image') %}
                <p style="text-align:center;">By {{ next_page.author }}</p>
            {% endif %}
        {% else %}
            ~
        {% endif %}
    </div>
    {% endif %}
</div>
{% if false %}
<div class="toc" id="tableContents">
    {{ toc.markup }}
</div>
{% endif %}

{% endblock %}
