{% extends "base2.html" %}

{% block content %}
<h1>Submit</h1>

<p>
  <i>Middlelost</i> is an on-line literary-arts journal edited by David Need
  and Cory Massaro. The journal is designed to allow the editors to put up
  longer suites and sequences by selected authors rather than individual poems.
  At this time, we will be including visual art, poetry, memoir, critical essay,
  hybrid work and fiction.</p>

<p>
  In general, we are not reading blind submissions. If you are interested in
  using the frame of the journal as a setting for a piece, please write a letter
  of inquiry to <a href="mailto:dneed@duke.edu">dneed@duke.edu</a> or
  <a href="mailto:cory.massaro@gmail.com">cory.massaro@gmail.com</a>; give a
  brief explanation of the project/piece and if you do not know us, please
  briefly introduce yourself.  It may take us as much as two months to reply;
  feel free to follow up with an inquiry if two months goes by without word.</p>

<p>For text, we accept submissions in .doc or .txt format.</p>

<p>For images, we accept submissions in .png or .jpg format.</p>

{% endblock %}
