{% extends "base.html" %}

{% block additional_styles %}
  <style>

  .activearrow {
    font-size: 30px;
    cursor: pointer;
  }

  .activearrow:hover {
    font-color: #ff1111;
  }

  .page {
    margin: auto; 
    /* border: 5px solid black;  */
  }

  .centered {
    /* margin: auto; */
    /* width: 20%; */
    /* position: relative; */
    text-align: center
  }

  .child {
    display: inline-block
  }

  .image_left {
    /* TODO: Use flexbox or React instead of float:left for side-by-side. */
    float: left;
    width: 49.5%;
    border-right: 1px solid black;
    /*border-left: 2px solid black;*/
  }

  .image_right {
    float: left;
    width: 49.5%;
    border-left: 1px solid black;
    /*border-right: 3px solid black;*/
  }

  .image_center {
    width: 100%;
    /* border: 5px solid black; */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .toc {
    /* float:left; 
    width: 12%; 
    float: right; */
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1a2c33;
    color: #eeeeee;
    transition: 0.3s;
    width: 200px;
    position: fixed;
    height: 100%;
  }

  .toc-item {
    /* color: #2222aa; */
    color: #818181;
  }

  .toc-item:hover {
    /* color: #8888aa; */
    color: #f1f1f1;
  }

  .toc .closebtn {
    position: absolute;
    top: 50%;
    /* left: 100; */
    float: right;
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    font-size: 36px;
    color: #818181;
    text-decoration: none;
  }

  .toc .closebtn:hover {
    color: #f1f1f1;
  }

  #main {
    transition: margin-right .5s;
    margin-right: 200px;
  }
{% endblock %}

{% block content %}
  <div id="book" style="float:left;width:100%">
    <div id="the_pages" class="page">
      {% if false %}
      <div class="row">
        <div class="image_left">
          <img
            id="left_page" src="{{ left_page }}" type="application/png"
            style="width:100%" />
        </div>
        <div class="image_right">
          <img
            id="right_page" src="{{ right_page }}" type="application/png"
            style="width:100%" />
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="image_center">
          <img
            id="single_page" src="{{ left_page }}" type="application/png"
            style="width:100%;border:5px solid black;" />
        </div>
      </div>
      {% endif %}
    </div>

    <div class="centered">
      <div class="child">
        <span class="activearrow" id="leftarrow" data-canclick="false">&#8701;</span>
        |
        <span class="activearrow" id="rightarrow" data-canclick="true">&#8702;</span>
      </div>
    </div>
  </div>
  {% if toc is not none %}
    <div class="toc" id="tableContents">
      <a
        href="javascript:void(0);" class="closebtn" id="tocArrow"
        title="collapse TOC" onclick="closeToc()">
        &#9654;
      </a> 
      {{ toc.markup }}
    </div>
  {% endif %}

<script>

var _currentPage = "{{ page_number }}";
var _issue = "{{ issue_number }}";

function getImageRow(image_class, png) {
    while (node.hasChildNodes()) {
      node.removeChild(node.lastChild);
    }
  var row_div = document.createElement("div");
  row_div.setAttribute("class", "row");
  var image_center_div = document.createElement("div");
  image_center_div.setAttribute("class", image_class);
  var the_image = document.createElement("img");
  the_image.setAttribute("id", "single_page");
  the_image.setAttribute("src", png);
  the_image.setAttribute("type", "application/png");
  the_image.setAttribute("style", "width:100%");
  image_center_div.appendChild(the_image);
  row_div.appendChild(image_center_div);
  return row_div;
}

function handleClick(_direction) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/nextpage');
  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onload = function() {
    var node = document.getElementById("the_pages");
    console.log(xhr);
    response = JSON.parse(xhr.responseText);
    console.log(response);
    if (response.hasLeft) {
      document.getElementById("leftarrow").setAttribute("data-canclick", "true");
    } else {
      document.getElementById("leftarrow").setAttribute("data-canclick", "false");
    }

    if (response.leftPng === null) {
      node.appendChild(getImageRow("image_center", response.singlePng));
    } else {
      document.getElementById("single_page").setAttribute("src", response.leftPng);
      // document.getElementById("right_page").setAttribute("src", response.rightPng);
      // document.getElementById("right_page").hidden = true;
    }
    _currentPage = response.nextPage;

    if (response.hasRight) {
      document.getElementById("rightarrow").setAttribute("data-canclick", "true");
    } else {
      document.getElementById("rightarrow").setAttribute("data-canclick", "false");
    }
  };

  const request = JSON.stringify({
    direction: _direction, currentPage: _currentPage, issue: _issue,
  });
  xhr.send(request);
}

function leftArrow() {
  if (document.getElementById("leftarrow").getAttribute("data-canclick") == "true") {
    handleClick("-1");
  }
}

var leftarrow = document.getElementById("leftarrow");
leftarrow.addEventListener("click", leftArrow, true);

function rightArrow() {
  if (document.getElementById("rightarrow").getAttribute("data-canclick") == "true") {
    handleClick("+1");
  }
}

var rightarrow = document.getElementById("rightarrow");
rightarrow.addEventListener("click", rightArrow, true);

{% if toc is not none %}
{% for toc_id in toc.ids %}
console.log("{{ toc_id }}");
var toc_item = document.getElementById("{{ toc_id }}");
toc_item.addEventListener(
    "click", handleClick.bind(null, toc_item.getAttribute("data-page")), true);
{% endfor %}
{% endif %}

function openToc() {
  document.getElementById("tableContents").style.right = "0px";
  document.getElementById("main").style.marginRight = "200px";
  var obj = document.getElementById("main");
  var arrow = document.getElementById("tocArrow");
  arrow.innerHTML = "&#9654;";
  arrow.style.transform = "translateX(-10px)";
  arrow.style["-ms-transform"] = "translateX(-10px)";
  arrow.removeEventListener("click", openToc);
  arrow.addEventListener("click", closeToc);
  arrow.title = "collapse TOC";
}

function closeToc() {
  document.getElementById("tableContents").style.right = "-190px";
  document.getElementById("main").style.marginRight = "10px";
  var arrow = document.getElementById("tocArrow");
  arrow.innerHTML = "&#9664;";
  arrow.style.transform = "translateX(-20px)";
  arrow.style["-ms-transform"] = "translateX(-20px)";
  arrow.removeEventListener("click", closeToc);
  arrow.addEventListener("click", openToc);
  arrow.title = "expand TOC";
}

</script>

{% endblock %}
