<!DOCTYPE html>
<html>

<head>
  <style>
    .activearrow {
      font-size: 30px;
      cursor: pointer;
    }

    .activarrow:hover {
      color: #f1f1f1;
    }
  </style>
  <title>
  </title>
</head>

<body>
  <!--TODO: Infer title  from Issue object.-->
  <!--TODO: Infer from Issue object.-->
  {{ pdf_file }}
  <embed
    id="the_page"
    src="{{ pdf_file }}" type="application/pdf" width="50%" height="800px">
  </embed>

  <span class="activearrow" id="leftarrow">&#8701;</span> |
  Issues |
  Home |
  <span class="activearrow" id="rightarrow">&#8702;</span>
</body>

<script>

var _currentPage = 1;

function handleClick(_direction) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/nextpage');
  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onload = function() {
    console.log(xhr);
    response = JSON.parse(xhr.responseText);
    if (response.hasLeft) {
      // TODO: make left arrow clickable.
    } else {
      // TODO: Unclickable.
    }
    document.getElementById("the_page").setAttribute("src", response.pdfFile);
    _currentPage = response.nextPage;
    if (response.hasRight) {
      // TODO: make right arrow clickable.
    } else {
      // TODO: Unclickable.
    }
  };

  const request = JSON.stringify({
      direction: _direction, currentPage: _currentPage});
  xhr.send(request);
}

function leftArrow() {
  handleClick("-1");
}

var leftarrow = document.getElementById("leftarrow");
leftarrow.addEventListener("click", leftArrow, true);

function rightArrow() {
  handleClick("1");
}

var rightarrow = document.getElementById("rightarrow");
rightarrow.addEventListener("click", rightArrow, true);

</script>

</html>
