{% extends "base.html" %}

{% block additional_styles %}

<style>
  .activearrow {
    font-size: 30px;
    cursor: pointer;
  }

  .activearrow:hover {
    font-color: #ff1111;
  }

  .page {
    margin: auto;
    border: 2px solid black;
  }

  .centered {
    margin: auto;
    width: 20%;
  }
{% endblock %}

{% block content %}
  <div>
    <div class="page">
      <img
        id="the_page" src="{{ png_file }}" type="application/png"
        width="600" />
    </div>

    <div class="centered">
      <span class="activearrow" id="leftarrow">&#8701;</span> |
      <span class="activearrow" id="rightarrow">&#8702;</span>
    </div>
  </div>

<script>

var _currentPage = 1;
var _issue = "{{ issue_number }}";

function handleClick(_direction) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/nextpage');
  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onload = function() {
    console.log(xhr);
    response = JSON.parse(xhr.responseText);
    if (response.hasLeft) {
      // TODO: make left arrow clickable.
    } else {
      // TODO: Unclickable.
    }
    document.getElementById("the_page").setAttribute("src", response.pdfFile);
    _currentPage = response.nextPage;
    if (response.hasRight) {
      // TODO: make right arrow clickable.
    } else {
      // TODO: Unclickable.
    }
  };

  const request = JSON.stringify({
    direction: _direction, currentPage: _currentPage, issue: _issue,
  });
  xhr.send(request);
}

function leftArrow() {
  handleClick("-1");
}

var leftarrow = document.getElementById("leftarrow");
leftarrow.addEventListener("click", leftArrow, true);

function rightArrow() {
  handleClick("1");
}

var rightarrow = document.getElementById("rightarrow");
rightarrow.addEventListener("click", rightArrow, true);

</script>

{% endblock %}
